<i class="mdi mdi-calendar"></i> <a href="<%- url_for(post.path) %>">
  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%- moment(post.date, date.format).fromNow() %></time>
</a>