<% if (post.link){ %>
    <a class="w3-button w3-padding-large w3-light-grey w3-border" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><b>READ MORE <i class="mdi mdi-book-open-page-variant"></i></b></a>
<% } else if (post.title){ %>
  <% if (index){ %>
    <a class="w3-button w3-padding-large w3-light-grey w3-border" href="<%- url_for(post.path) %>"><b>READ MORE <i class="mdi mdi-book-open-page-variant"></i></b></a>
  <% } %>
<% } %>
