<% if (post.link){ %>
  <span class="post-title" itemprop="name">
    <a href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
  </span>
<% } else if (post.title){ %>
  <% if (index){ %>
    <span class="post-title" itemprop="name">
      <a href="<%- url_for(post.path) %>"><%= post.title %></a>
    </span>
  <% } else { %>
    <span class="post-title" itemprop="name">
      <%= post.title %>
    </span>
  <% } %>
<% } %>