<%- partial('_partial/header', null, {cache: !config.relative_link}) %>
<!-- Grid -->
<div class="w3-row">

  <!-- Blog entries -->
  <div class="w3-col l8 s12">
    <!-- Blog entry -->
    <%- partial('_partial/archive') %>
  <!-- END BLOG ENTRIES -->
  </div>
  
  <!-- Introduction menu -->
  <div class="w3-col l4">
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
    
  <!-- END Introduction Menu -->
  </div>
  
  <!-- END GRID -->
  </div><br>