<%- partial('_partial/head') %>
<body style="background: <%- theme.ui.primary %>; color: <%- theme.ui.text %>;">
  <%- partial('_partial/sidebar') %>
  <div class="w3-main" style="margin-left:200px;height:100vh; display: flex; flex-direction: column;">
    <div style=" flex: 1 0 auto;">
      <div>
          <%- partial('_partial/sidebar-button') %>
          <%- body %>
      </div>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>