<% if (site.categories.length){ %>
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding" style="background: <%- theme.ui.accent %>;">
      <h4><%- __('categories') %></h4>
    </div>
    <div class="w3-container" style="background: <%- theme.ui.secondary %>;">
    <p>
      <%- list_categories(site.categories, {
        show_count: false,
        style: false
      }) %>
    </p>
    </div>
  </div>
  <% } %>
  