<% if (site.posts.length){ %>
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding" style="background: <%- theme.ui.accent %>;">
      <h4><%= __('recent_posts') %></h4>
    </div>
    <ul class="w3-ul w3-hoverable" style="background: <%- theme.ui.secondary %>;">
      <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
        <li>
          <a href="<%- url_for(post.path) %>" style="margin: 0px; display: block; width: 100%; height: 100%">
            <span class="w3-large"><%= post.title || '(no title)' %></span><br>
            <span><%- partial('_partial/post/date-nolink', {post: post, date_format: null}) %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
<% } %>
