.toc, .toc-child {
  list-style-type: none;
  -webkit-padding-start: 20px;
}
.post-data{
  font-size: .85em;
}
.post-title {
  font-size: 2em;
  margin: 5px 0;
  display: block;
}
.social-link:hover {
  transform: scale(1.2);
}
.twitter {
  color: #1DA1F2;
}
.after-excerpt {
  padding-bottom: 10px;
}

@media only screen and (max-width: 786px) {
  .post-title {
    display: block;
  }
}