<div class="w3-card-4 w3-margin" style="background: <%- theme.ui.secondary %>;">
  <div class="w3-container">
    <%- partial('post/title') %>
    <span class="post-data"><%- partial('post/category') %> <%- partial('post/tag') %><span><%- partial('post/date', {date_format: 'MMM D, YYYY'}) %></span></span>
  </div>

  <div class="w3-container">
    <%- post.more %>
  </div>
</div>
