<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
      <header class="archive-article-header">
          <a href="<%- url_for(post.path) %>" style="text-decoration: none;"><%= post.title %></a>
          (<%- partial('_partial/post/date', {date_format: 'M/D'}) %>)
      </header>
  </div>
</article>