<%- partial('_partial/mobile-article', {post: post, showDate: showDate}) %>
<div class="w3-container">
  <div class="w3-card-4 w3-hide-small" style="margin: 60px 10% 30px!important; background: <%- theme.ui.secondary %>;">
    <header class="w3-container" style="background: <%- theme.ui.accent %>; height: 200px;">
      <div class="w3-large w3-text-white w3-center">
        <span>
            <%- partial('post/title') %>
        </span>
        <span>
          <% if(showDate) { %>
            <%- partial('post/date', {date_format: null}) %><br>
          <% } %>
            <%- partial('post/tag') %>

        </span>
      </div>
    </header>

    <div class="w3-container">
      <%- post.content %>
    </div>
  </div>
</div>