<footer class="w3-container w3-black w3-padding-16 w3-margin-top" style="flex-shrink: 0;">
  <p>Powered by <a href="https://hexo.io">Hexo</a>. <a href="https://gitlab.com/cyberronin/hexo-theme-derk" target="_blank">Derk</a> theme.</p>
</footer>