<header class="w3-container w3-center w3-padding-32">
    <h1 style="font-size: 3em;"><b><%= config.title %></b></h1>
    <p style="font-size: 1.25em;"><%= theme.welcome %><span class="w3-tag"><%= config.author %></span></p>
</header>