<div class="w3-card-4 w3-mobile w3-grey w3-hide-large w3-hide-medium">
  <header class="w3-container" style="background: #282828; height: 200px;">
    <div class="w3-large w3-text-white w3-center">
      <span>
          <%- partial('post/title') %>
      </span>
      <span>
        <% if(showDate) { %>
          <%- partial('post/date', {date_format: null}) %><br>
        <% } %>
        <%- partial('post/tag') %>
      </span>
    </div>
  </header>

  <div class="w3-container">
    <%- post.content %>

  </div>
</div>
