<div class="w3-sidebar w3-collapse w3-card w3-animate-left" style="width:200px; z-index: 0; background: <%- theme.ui.primary %>;" id="mySidebar">
  <div class="w3-bar" style="background: <%- theme.ui.secondary %>;">
    <span class="w3-bar-item w3-padding-16"></span>
    <button onclick="w3_close()" class="w3-bar-item w3-button w3-right w3-padding-16 w3-hide-large" title="close Sidebar" style="background: <%- theme.ui.secondary %>;">×</button>
  </div>

  <div class="w3-display-container w3-text-white" style="background: <%- theme.ui.secondary %>;">
    <div style="height:100px; background: <%- theme.ui.secondary %>;"></div>
    <div class="w3-large w3-display-bottomleft"><img class="w3-circle" src="<%- gravatar(theme.author.gravatar, 154) %>" alt="avatar" height="50" style="padding-left: 7.5px; padding-bottom: 5px;">
      <%= config.author %>
    </div>
  	</div>
  <div class="w3-bar-block">
    <a href="<%- url_for('/') %>" class="w3-bar-item w3-button <% if( is_home() ) { %> w3-black <% } %>"><%= __('home') %></a>
    <a href="<%- url_for('archives') %>" class="w3-bar-item w3-button <% if( is_archive() ) { %> w3-black<% } %>"><%= __('archive') %></a>
    <a href="<%- url_for('about') %>" class="w3-bar-item w3-button <% if( is_current('about') ) {  %> w3-black<% } %>"><%= __('about') %></a>
  </div>
  <hr>
  <div style="display: flex; flex-wrap:wrap; justify-content: space-around;">
    <% if (theme.links.github) { %>
      <a class="social-link" href="<%- theme.links.github %>"><i class="mdi mdi-github-circle mdi-36px"></i></a>
    <% } %>
    <% if (theme.links.gitlab) { %>
      <a class="social-link" href="<%- theme.links.gitlab %>" style="line-height: 50px;"><img src="<%= config.url %>/images/gitlab.svg" height="36" width="36"></a>
    <% } %>
    <% if (theme.links.twitter) { %>
      <a class="social-link twitter" href="<%- theme.links.twitter %>"><i class="mdi mdi-twitter mdi-36px"></i></a>
    <% } %>
  </div>
  <div class="w3-bar-block">
    <% if (is_post()) { %>
      <%- toc(page.content) %>
    <% } %>
  </div>
</div>

